body{
background-color: rgb(19, 178, 192);
text-align: center;
margin-top: 50px;
padding: 30px;
font-size: x-large;
}
.img{
    max-width:100%;
    min-height:100%;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    margin-left: 300px;
    size-adjust: 50px;
    border-radius: 4px;
    

}   
    

.nav a.active{
    background-color: aqua;
    color: rgb(1, 1, 14);
}
.nav a:hover{
    background-color: blueviolet;
    color: antiquewhite;
    font-weight: bolder;
    font-size: x-large;
}


    
